canvas {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

body{
    background-color:rgba(255, 255, 255, 0.28) ;
}

h1{
    position: absolute;
    left: 50%;
    top: 20%;
}

img {
    width: 60%;
    position: absolute;
    z-index: -2;
    left: 25%;
}